*{
    margin: 0;
    padding: 0;
}

h1, p{
    color: rgb(236, 236, 236);
}

h1{
    text-align: center;
    margin-top: 2rem;
}

body{
    background-color: rgb(19, 19, 19);
}


.card{
    margin: 2rem auto 0rem auto;
    background-color: rgb(24, 24, 24);
    width: 33rem;
    padding: 2rem;
    border-radius: 3px;

    .joke-div{
        border: 2px solid rgb(236, 236, 236);
        text-align: center;
        padding: 1rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 3px;

        #question{
            font-weight: bold;
            font-size: 1.2rem;
        }

        #answer{
            margin-top: .3rem;
            font-size: 1.1rem;
        }
    }

    button{
        margin-top: 1rem;
        width: 100%;
        padding: .5rem 0;
        font-size: .8rem;
        font-weight: bold;
        border-radius: 3px;

    }

    button:hover{
         cursor: pointer;
    }
}